/****** Script for SelectTopNRows command from SSMS  ******/
SELECT a.[DisplayName]
      ,a.[Enabled], b.[Enabled]
      ,a.[LockedOut], b.[LockedOut]
      ,a.[MNSLogonAccount], b.[MNSLogonAccount]
      ,a.[CannotChangePassword], b.[CannotChangePassword]
      ,a.[PasswordExpired], b.[PasswordExpired]
      ,a.[PasswordNeverExpires], b.[PasswordNeverExpires]
      ,a.[PasswordNotRequired], b.[PasswordNotRequired]
      ,a.[SmartcardLogonRequired], b.[SmartcardLogonRequired]
      ,a.[DoesNotRequirePreAuth], b.[DoesNotRequirePreAuth]
      ,a.[AllowReversiblePasswordEncryption], b.[AllowReversiblePasswordEncryption]
      ,a.[AccountNotDelegated], b.[AccountNotDelegated]
      ,a.[TrustedForDelegation], b.[TrustedForDelegation]
      ,a.[TrustedToAuthForDelegation], b.[TrustedToAuthForDelegation]
      ,a.[UseDESKeyOnly], b.[UseDESKeyOnly]
      ,a.[HomedirRequired], b.[HomedirRequired]
      ,a.[LastBadPasswordAttempt], b.[LastBadPasswordAttempt]
      ,a.[BadLogonCount], b.[BadLogonCount]
      ,a.[LastLogonDate], b.[LastLogonDate]
      --,a.[LogonCount], b.[LogonCount]
      ,a.[PasswordLastSet], b.[PasswordLastSet]
      ,a.[AccountLockoutTime], b.[AccountLockoutTime]
      ,a.[AccountExpirationDate], b.[AccountExpirationDate]
      ,a.[LogonWorkstations], b.[LogonWorkstations]
  FROM [AD_DW].[dbo].[ADusers] a
  LEFT JOIN [AD_DW_Aug28].[dbo].Users b ON a.ObjectGUID = b.ObjectGUID
  ORDER BY a.DisplayName
